

<head>
<title>ALIA</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
</style>
</head>
<body>

<div class="logotipo">
  <img src="/img/logotype2.jpeg" style="width:45%;float: right;">
  </div>
<ul class="bar">
  <div class="bar2">
  <li><a class="active" href="#acerca">Nosotros</a></li>
  <li><a href="#encuentr">Buscanos</a></li>
  <li><a href="#ayudahelp">Help</a></li>
</ul>
</div>

<hr style="color: black;width:200mm;height:18mm; line-height:15mm; ">

<hr style="color: white;width:280mm;">
<h1 align= "center" class="univer">Universidad Politécnica Salesiana</h1>
  <h1 align= "center" class="proye">Proyecto Integrador</h1>
<div class="w3-content w3-section" style="max-width:500px; float: left; ">
  <img class="mySlides1" src="/img/juzgado.png" style="width:220%">
  <img class="mySlides1" src="/img/pension.jpg" style="width:220%">
  <img class="mySlides1" src="/img/ups1.jpg" style="width:220%">
</div>



<div class="w3-container" >
  <h2 id="anuncio" class="anunc">Anuncios</h2> 
</div>
<div class="w3-content w3-display-container" style="max-width:800px">
  <img class="mySlides" src="/img/juzgado.png" style="width:100%">
  <img class="mySlides" src="/img/ups1.jpg" style="width:100%">
  <img class="mySlides" src="img_mountains_wide.jpg" style="width:100%">
  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
  </div>
</div>



 <h2 class="encuentra" id="encuentr">ENCUENTRANOS</h2>
{{!-- <div class="social-bar">
    <a href="https://www.facebook.com/ljfernandezp2509" class="icon icon-facebook" target="_blank"></a>
    <a href="https://twitter.com/Javier21868495" class="icon icon-twitter" target="_blank"></a>
    <a href="https://www.youtube.com/c/devcodela" class="icon icon-youtube" target="_blank"></a>
    <a href="https://www.instagram.com/javierfernandez2595/" class="icon icon-instagram" target="_blank"></a>
  </div> --}}
<div class="google-maps">
    <iframe src="https://maps.google.com/maps?q=Universidad%20Politecnica%20Salesiana&t=&z=13&ie=UTF8&iwloc=&output=embed" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>
<br><br>
<h4 style="color:#41cbc2;">También te puedes contactar por: </h4>
<div class="numer">
<ul>
  <li>Nos puedes llamar a los números: +593995367393</li>
  <li>Nuestro Correo Electrónico: <a href = "mailto:javichinin_25@outlook.es?subject = Feedback&body = Message"> Click Aquí
</a></li>
  <li>Visitanos también en nuestras redes sociales</li>
</ul>
</div>




<div class="card-body" >
    <h1 class="acerca1" id="acerca">Acerca de Nosotros</h1>   
<table style="width:100%"> 
  <tr>
    <th>
  <div class="comp">
       <div class="titulo">
       <h4>Ingeniería en Ciencias de la Computación</h4>
       </div>
       <img class="logo4" src="/img/computimage.jpg" style="width: 100%;">
      <div class="ing" >
      <br>
    El Ingeniero en Sistemas Computacionales es un profesional con sólidos conocimientos en las ciencias de la computación y sus diferentes áreas especificas: análisis, diseño, mejoramiento y mantenimiento de sistemas y redes de información, así como en fundamentos administrativos.
    </div> 
    </div>   
    </th>
    <th>
  <div class="biogra">
  <div class="titulo" >
       <h4>¿Quiénes Somos?</h4>
       </div>
   <img src="/img/biografi.png" style="width: 100%;">
      <div class="ing">
    <br><dd>Estudiantes de la Universidad Politécnica Salesiana</dd>
    <dd></dd>
    <dd>Estudiantes capaces de realizar proyectos con fines educativos y profesional</dd>
    <dd></dd>
    <dd></dd>
    <dd></dd>
    <dd> </dd></dl> 
    </div>

  </div>
    </th>
 <th>

  <div class="trabajo">
  <h4>Algoritmos de Aprendizaje de Máquina</h4>
  <img src="/img/ml.jpg" style="width: 100%;">
  <div class="ing" >

<ul>
  <li style="color: #9c9a9a;"><a rel="author" href="https://colab.research.google.com/drive/1UdkSSqT8BnzL9q4ApUXLPltu7HhIkcD3" target="_blank">Web Scrapping</a></li>
  <li style="color: #9c9a9a;"><a href="https://colab.research.google.com/drive/1UdkSSqT8BnzL9q4ApUXLPltu7HhIkcD3" target="_blank">Matriz de Distancia de Coseno</a></li>
  <li style="color: #9c9a9a;"><a href="https://colab.research.google.com/drive/1UdkSSqT8BnzL9q4ApUXLPltu7HhIkcD3" target="_blank">Proceso de NLP</a></li>
  <li style="color: #9c9a9a;"><a href="http://pagina.com/documento-en.pdf" hreflang="en">Inteligencia Artificial</a></li>
</ul>
  <p>En el transcurso del semestre, desarrollamos algoritmos de NLP en el area de Machine Learning donde pudierón verlo a continuación</p>
  </div>
  </div>
    </th>
   
  </tr>
</table>

{{!-- <h2 class="acerca1">El Equipo de Trabajo</h2>
<table style="width:100%">
  <tr>
    <th>
  <div class="comp">
       <div class="titulo" >
       <h4>Javier Fernández</h4>
       </div>
       <img class="logo4" src="/img/javi.jpg" style="width: 100%;">
      <div class="ing">
    Estudiante de la carrera de Ingeniería en Ciencias de la Computación, graduado en la secundaria de Quimico Biólogo, Ha colaborado en varios proyecto a los largo de su carrera como de Domótica, Páginas en JSF y JSP, Itinerarío en Escialidad en Redes 
    </div> 
    </div>   
    </th>
    <th>
  <div class="biogra">
  <div class="titulo" >
       <h4>Jimenez Oscar</h4>
       </div>
   <img src="/img/oscar.png" style="width: 100%;">
      <div class="ing" style="color:black;">
    </div>
  </div>
    </th>
 <th>
  <div class="trabajo">
  <h4 >Lopez Edison</h4>
  <img src="/img/edison.jpg" style="width: 100%;">
  <div class="ing" style="color:black;">
  </div>
  </div>
    </th>
  </tr>
</table>
 </div> --}}

<h2 class="acerca1" id="ayudahelp">Necesitas Alguna ayuda? Contactanos o mira lo que necesites aquí</h2>
<div class="blocks">
<div class="download-blocks">
  <a href="/img/2009.pdf" download="reporte2009"><img class="icon" src="/img/icondownload.png"></a>
  <span class="titulo2"> Descarga nuestro Guía de Usuario</span>
</div>
  <div class="download-blocks2">
  <a href="#encuentr"><img class="icon2" src="/img/buscar.png"></a>
  <span class="titulo2"> Alguna duda comunicate con Nosotros?</span>
</div>
</div>











<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides1");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000); // Change image every 2 seconds
}


var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}

</script>

<br><br><hr><br>
<footer>
<div class="define"  >Copyright&copy; 2020 - Página creada por Oscar Jiménez, David Morales y Guevara Andres - Todos los derechos reservados</div>
</footer>



</body>
</html>
