


<body>
    
               <div class="table-responsive-xl">
            <!-- LIST -->
            

                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr class="table-success">
                            <th scope="col">Título</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Detalles</th>
                            <th scope="col">Eliminar</th>

                            
                        
                        </tr>
                    </thead>
                    <tbody>
                        
                       {{#each images}}
                            <tr>

                                <td>
                                    {{title}}
                                </td>

                                <td>
                                    {{description}}
                                </td>

                                <td>
                        <a href="/image/{{_id}}" class="btn btn-primary" >
                           > 
                        </a>

                                </td>

                                <td>
                    <form action="/imagedeletetab/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">X</button>
                        </form>
    
                                </td>


                            
                              
                                

                            </tr>

                        {{/each }}
                    </tbody>
                   
                </table>

</body>

</html>
